html, body{
    height: 100%;
    background-color: #fff;
}

.modal-body {
    overflow-x: scroll !important;
}

#heading {
    height: 11%;
}

#app-container {
    height: 89%;
}

.not-visible {
    display: none;
}