<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
    <div th:fragment="addRecipe" class="modal-dialog modal-lg modal-dialog-centered bg-dark">
        <form hx-post="/home/recipes"
              hx-swap="outerHTML"
              hx-target="#recipes-rows"
              hx-ext="json-enc-custom"
              id="create-recipe-form"
              class="modal-content bg-dark">

            <div class="modal-header bg-dark">
                <h2 class="modal-title text-white" id="recipeTitle">Create A Recipe</h2>
            </div>

            <div class="modal-body">
                <label class="text-white h5">
                    Recipe Name:
                    <input required type="text" name="name">
                </label>

                <table class="table bg-dark">
                    <thead>
                    <th class="text-white">Ingredient Name</th>
                    <th class="text-white">Quantity</th>
                    <th class="text-white">Measure</th>
                    </thead>
                    <tbody>
                    <tr th:fragment="singleRecipeInput" th:each="num : ${#numbers.sequence(start, entries)}">
                        <td>
                            <input type="text" th:name="|groceryItems[${num}][name]|" >
                        </td>
                        <td>
                            <input type="text" th:name="|groceryItems[${num}][quantity]|">
                        </td>
                        <td>
                            <input list="measures" th:name="|groceryItems[${num}][measure]|">
                        </td>
                        <td>
                            <button type="button"
                                    hx-on:click="deleteRecipeInputField(event);"
                                    class="btn btn-sm btn-danger">&times;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create Recipe</button>
                <button type="button"
                        hx-get="/home/add-recipe"
                        hx-target="#recipe-form tbody"
                        hx-swap="beforeend"
                        hx-on:htmx:config-request="event.detail.parameters.recipeCount = getNumRecipeFormInputs();"
                        class="btn btn-secondary">Add Recipe Item</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</html>