<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="grocerylist" class="col-md-4">

        <h2>Grocery List</h2>

        <table>

            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Measure</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Quantity</td>
                    <td>Measure</td>
                </tr>
            </tbody>
        </table>
    </div>
</html>
