<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="grocerylist" id="grocerylist" class="col-md-4">

        <h2>Grocery List</h2>

        <table>

            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Measure</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="groceryItem : ${groceryList}" >
                    <td th:text="${groceryItem.name}">Name</td>
                    <td th:text="${groceryItem.quantity.toPlainString}">Quantity</td>
                    <td th:text="${groceryItem.measure}">Measure</td>
                    <td>
                        <button th:attr="hx-delete=@{ /home/grocery-list/{groceryItemId}/all(groceryItemId=${groceryItem.id}) }"
                                hx-target="#grocerylist"
                                hx-swap="outerHTML"
                                class="btn-danger">Delete item</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>
