<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="grocerylist" id="grocerylist" class="col-md-4">

        <h2>Grocery List</h2>

        <table>

            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Measure</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="groceryListItem : ${groceryList}" >
                    <td hidden th:text="${groceryListItem.groceryListItemId}"></td>
                    <td th:text="${groceryListItem.name}">Name</td>
                    <td th:text="${groceryListItem.quantity}">Quantity</td>
                    <td th:text="${groceryListItem.measure}">Measure</td>
                </tr>
            </tbody>
        </table>
    </div>
</html>
