<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:hx-on="http://www.w3.org/1999/xhtml">
    <div th:fragment="recipes" id="recipes" class="card bg-dark col-11 m-3">

        <div class="row card-header text-white justify-content-between">
            <h2 class="col">Recipes</h2>

            <button type="button"
                    hx-get="/home/add-recipe"
                    hx-target="#recipe-form"
                    hx-trigger="click"
                    data-toggle="modal"
                    data-target="#recipe-form"
                    class="col btn btn-primary">Add Recipe
            </button>
        </div>


        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody th:fragment="recipes-rows" id="recipes-rows">
                <th:block th:each="recipe : ${recipes}">
                    <tr class="recipe">
                        <td hx-on:click="toggleRecipeDropDown(event)"
                            class="recipe-name align-middle grocery-item-list-toggle">
                            <h6 style="display: inline;" th:text="${recipe.name}">Name</h6>
                            <span class="carrot">⏴</span>
                        </td>
                        <td>
                            <button hx-post="/home/grocery-list"
                                    hx-target="#grocerylist"
                                    hx-ext="post-Grocery-Items"
                                    hx-swap="outerHTML"
                                    class="btn-put-grocery-list btn btn-primary">&rarr;</button>
                        </td>
                        <td>
                            <button th:attr="hx-delete=@{/recipes/{recipeId}(recipeId=${recipe.id}) }"
                                    hx-trigger="click"
                                    hx-target="closest .recipe"
                                    hx-confirm="Are you sure?"
                                    hx-swap="delete"
                                    class="delete-recipe-btn btn btn-danger">&times;</button>
                        </td>
                    </tr>
                    <tr th:attr="hx-get=@{ /home/recipes/{recipeId}/grocery-items(recipeId=${recipe.id}) }"
                        hx-trigger="load"
                        hx-swap="outerHTML"></tr>
                </th:block>
            </tbody>
        </table>
    </div>
</html>
